:root {
    --azul: #336699;
    --cinza: #DBDBDB;
    --branco: #FFFFFF;
    --cinza_claro: #F2F2F2;
    --preto: #000;
    --menu-size: 95%;
}

body {
    position: relative;
}

a {
    text-decoration: none !important;
}

.background-slider {
    display: none;
    transform: 0, 4s !important;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    z-index: 1;
}

#slideMenu {
    z-index: 2;
    overflow: auto;
}

header {
    padding-top: 14px !important;
    padding-right: 2px;
    padding-left: 2px;
}

#btnMenu {
    background: none;
    border: none;
}

#btnClose {
    background: none;
    border: none;
}

#slideMenu .slide-header {
    display: flex;
    padding: 20px 16px 14px 16px;
    background-color: var(--branco);
}

#slideMenu .slide-header h2 {
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    color: var( --azul);
}

#slideMenu .slide-header h2 strong {
    font-weight: 500;
}

#slideMenu .slide-body {
    padding-top: 20px;
    padding-bottom: 80px;
}

#slideMenu .slide-body h2 {
    color: var(--azul);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 32px;
    margin-bottom: 10px;
}

#slideMenu .slide-body ul {
    list-style: none;
    padding: 0px 45px;
}

#slideMenu .slide-body ul li {
    background: var(--branco);
    box-shadow: 0px 1px 3px rgba(199, 199, 199, 0.5);
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: center;
}

#slideMenu .slide-body ul li a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    color: var(--preto);
}

#slideMenu .slide-body ul li img {
    margin-right: 13px;
}

#slideMenu .slide-body ul button:first-child {
    margin-top: 0 !important;
}

#slideMenu .slide-body ul button {
    margin-top: 9px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 13px;
    background: #FFFFFF;
    border: 1px solid var(--azul);
    box-sizing: border-box;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 10%);
    border-radius: 3px;
}

#slideMenu .slide-body ul button img {
    margin-right: 6px;
}

#slideMenu .slide-body ul button.btnlateral-entrar {
    background: var(--azul);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    color: var(--branco);
}

#slideMenu .slide-body p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: var(--preto);
    padding: 0 16px;
    margin-bottom: 10px;
}

.input-pesquisa {
    margin-bottom: 10px;
}

.input-pesquisa input {
    border: 1px solid var(--azul);
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--cinza);
    padding: 5px 0 5px 30px;
}

.input-pesquisa input::placeholder {
    color: var(--cinza);
}

input.w-100:focus-visible {
    outline: none !important;
}

.input-pesquisa svg.icon-pesquisa {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.menu {
    position: fixed;
    top: 0;
    width: var(--menu-size);
    height: 100%;
    background-color: var(--cinza_claro);
    width: 95%;
    transition: 0.4s;
}

/*Slider Principal*/

.slider-principal-prev {
    position: absolute;
    left: 0;
    z-index: 1;
    padding: 5px 10px 5px 2px;
}

.slider-principal-next {
    position: absolute;
    right: 0;
    z-index: 1;
    padding: 5px 2px 5px 10px;
}

.arrows-position {
    position: absolute;
    background: none;
    top: 50%;
    transform: translate(0, -50%);
    border: none;
}

.slider-principal {
    margin-bottom: 20px !important;
}

.dots-slider-principal {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
}

.dots-slider-principal li button::before {
    content: "";
    border: 1px solid var(--branco);
    box-sizing: border-box;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: 0.4s;
}

.dots-slider-principal li.slick-active button::before {
    content: "";
    background: var(--branco);
    transition: 0.4s;
}

.dots-slider-principal li button {
    border: none;
    color: transparent;
    background: transparent;
    padding: 0 1px;
}

.dots-slider-principal li {
    display: inline-block;
}

/*Fim Slider Principal*/

.linha-vertical {
    position: absolute;
    height: 100% !important;
    width: 0.3px !important;
    background: var(--azul);
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
    padding: 0 !important;
    opacity: 1;
}

.linha-horizontal {
    position: absolute;
    width: 93%!important;
    height: 0.3px !important;
    background: var(--azul);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    opacity: 1;
}

.titulo-informativo {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--azul);
    margin: 0;
    padding: 12px 0;
}

/*Listagem Produtos*/

.list-produto {
    margin-top: 20px;
}

.titulo-destaque {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    white-space: nowrap;
}

.titulo-destaque .linha {
    width: 100%;
    height: 1px;
    background: var(--azul);
    padding-right: 5px;
}

.list-produto .titulo-destaque span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--branco);
    padding: 6px 11px;
    background: var(--azul);
    border-radius: 3px;
    margin-right: 5px;
}

.slider-produto {
    padding-top: 17px;
    margin-bottom: 40px;
}

.slider-produto a {
    border-right: 1px solid #F2F2F2;
    padding: 0 7px;
}

.slider-produto a .nomeProduto {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: var(--preto);
    margin: 0;
}

.slider-produto a .categoria {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: var(--azul);
    margin-bottom: 10px;
}

.slider-produto a .btnComprar {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: var(--azul);
    background: #FFFFFF;
    border: 1px solid var(--azul);
    box-sizing: border-box;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 12px;
    margin: 0 auto;
}

.slider-produto a .btnComprar img {
    margin-right: 6px;
}

.slider-produto a img {
    margin: 0 auto;
}

.slider-produto a .box-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 160px;
    width: 100%;
}

/*Listagem Produtos*/

/*Banner Home*/

.bannerHome {
    padding: 25px 16px;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bannerHome .fundo {
    background: rgba(0, 0, 0, 0.6);
    padding: 26px 19px;
    position: relative;
}

.bannerHome .fundo h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--branco);
    margin: 0;
}

.bannerHome .fundo h2 strong {
    font-weight: 400;
}

.bannerHome .fundo span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    text-transform: lowercase;
    color: var(--branco);
    position: absolute;
    right: 10px;
    bottom: 5px;
}

/*Banner Home*/

/*Banner Secundario*/

.bannerSecundario .box-imagem {
    padding: 10px 16px;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.bannerSecundario .box-imagem.segundo {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.bannerSecundario .box-imagem .fundo {
    padding: 26px 8px;
    background: rgba(0, 0, 0, 0.6);
    width: 65%;
    position: relative;
}

.bannerSecundario .box-imagem.segundo .fundo h2 {
    text-align: right;
}

.bannerSecundario .box-imagem .fundo h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    color: var(--branco);
}

.bannerSecundario .box-imagem .fundo h2 strong {
    font-weight: 400;
}

.bannerSecundario .box-imagem .fundo span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    text-transform: lowercase;
    color: var(--branco);
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.bannerSecundario .box-imagem.segundo span {
    left: unset;
    right: 10px;
}

/*Banner Secundario*/

/*Botão Whatsapp*/

.btnWhatsapp {
    position: fixed;
    left: 16px;
    bottom: 20px;
}

/*#btnUp {
    position: fixed;
    right: 16px;
    bottom: 20px;
}*/

#btnUp {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    color: #fff;
    background: rgba(00, 00, 00, 0.3);
    border: none;
    opacity: 0;
    transition: opacity 0.4s linear;
}

#btnUp.is-visible {
    opacity: 1;
}

/*Botão Whatsapp*/

/*Footer*/

footer {
    background-color: var(--azul);
    min-height: 200px;
    height: 200px;
}

/*Footer*/